In [1]:
!pip install pandas
!pip install scikit-learn
!pip install numpy
#!pip install nltk  # Optional, only if you need text processing

Requirement already satisfied: pandas in d:\app data\python\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\app data\python\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\app data\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\app data\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\app data\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\app data\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: scikit-learn in d:\app data\python\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in d:\app data\python\lib\site-packages (from scikit-learn) (2.2.5)
Requirement already satisfied: scipy>=1.6.0 in d:\app data\python\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in d:\app data\python\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\app data\python\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: numpy in d:\app data\python\lib\site-packages (2.2.5)

In [2]:
import pandas as pd
movies = pd.read_csv('movies.csv', sep=',', quotechar='"', on_bad_lines='skip');
display(movies.head(5))

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [3]:
movies = movies.rename(columns={'index' : 'user_id'})
movies = movies.rename(columns={'id' : 'movies_id'})
movies = movies.rename(columns={'vote_average' : 'rating'})
display(movies.head(7))

,user_id,budget,genres,homepage,movies_id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,rating,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/,559,dual identity amnesia sandstorm love of one's ...,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,...,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,Tobey Maguire Kirsten Dunst James Franco Thoma...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",Sam Raimi
6,6,260000000,Animation Family,http://disney.go.com/disneypictures/tangled/,38757,hostage magic horse fairy tale musical,en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,...,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,Zachary Levi Mandy Moore Donna Murphy Ron Perl...,"[{'name': 'John Lasseter', 'gender': 2, 'depar...",Byron Howard

In [22]:
#I delete my not nasasary rows...
movies = movies.drop('director', axis=1)

# Display the DataFrame after dropping columns
display(movies.head(5))

,user_id,genres,movies_id,title,rating
0,0,Action Adventure Fantasy Science Fiction,19995,Avatar,7.2
1,1,Adventure Fantasy Action,285,Pirates of the Caribbean: At World's End,6.9
2,2,Action Adventure Crime,206647,Spectre,6.3
3,3,Action Crime Drama Thriller,49026,The Dark Knight Rises,7.6
4,4,Action Adventure Science Fiction,49529,John Carter,6.1

In [23]:
display(movies.head(7))

,user_id,genres,movies_id,title,rating
0,0,Action Adventure Fantasy Science Fiction,19995,Avatar,7.2
1,1,Adventure Fantasy Action,285,Pirates of the Caribbean: At World's End,6.9
2,2,Action Adventure Crime,206647,Spectre,6.3
3,3,Action Crime Drama Thriller,49026,The Dark Knight Rises,7.6
4,4,Action Adventure Science Fiction,49529,John Carter,6.1
5,5,Fantasy Action Adventure,559,Spider-Man 3,5.9
6,6,Animation Family,38757,Tangled,7.4

In [24]:
ratings = pd.read_csv('Movie-Dataset-Latest.csv')
display(ratings.head(5))

,Unnamed: 0,id,title,release_date,overview,popularity,vote_average,vote_count,video
0,0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",25.884,8.7,3304,False
1,1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,60.110,8.7,20369,False
2,2,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",62.784,8.7,15219,False
3,3,724089,Gabriel's Inferno Part II,2020-07-31,Professor Gabriel Emerson finally learns the t...,28.316,8.6,1360,False
4,4,424,Schindler's List,1993-11-30,The true story of how businessman Oskar Schind...,38.661,8.6,12158,False

In [25]:
ratings = ratings.rename(columns={'Unnamed: 0' : 'user_id'})
ratings = ratings.rename(columns={'id' : 'movie_id'})
ratings = ratings.rename(columns={'vote_average' : 'ratings'})

display(ratings.head(5))

,user_id,movie_id,title,release_date,overview,popularity,ratings,vote_count,video
0,0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",25.884,8.7,3304,False
1,1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,60.110,8.7,20369,False
2,2,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",62.784,8.7,15219,False
3,3,724089,Gabriel's Inferno Part II,2020-07-31,Professor Gabriel Emerson finally learns the t...,28.316,8.6,1360,False
4,4,424,Schindler's List,1993-11-30,The true story of how businessman Oskar Schind...,38.661,8.6,12158,False

In [31]:
#I delete not nassasary rows...
ratings = ratings.drop('vote_count', axis=1)

# Display the DataFrame after dropping columns
display(ratings.head(5))

   user_id  movie_id                        title  ratings
0        0     19404  Dilwale Dulhania Le Jayenge      8.7
1        1       278     The Shawshank Redemption      8.7
2        2       238                The Godfather      8.7
3        3    724089    Gabriel's Inferno Part II      8.6
4        4       424             Schindler's List      8.6

In [32]:
display(ratings.head(7))

   user_id  movie_id                        title  ratings
0        0     19404  Dilwale Dulhania Le Jayenge      8.7
1        1       278     The Shawshank Redemption      8.7
2        2       238                The Godfather      8.7
3        3    724089    Gabriel's Inferno Part II      8.6
4        4       424             Schindler's List      8.6
5        5    696374            Gabriel's Inferno      8.6
6        6    761053   Gabriel's Inferno Part III      8.6

In [33]:
user_item_matrix = ratings.pivot(index='user_id', columns='movie_id', values='ratings').fillna(0)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
#calculate user similarity
user_similarity = cosine_similarity(user_item_matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)

In [36]:
count_vectorizer  = CountVectorizer()
genre_matrix = count_vectorizer.fit_transform(movies['genres'].fillna(''))

In [38]:
genre_similarity = cosine_similarity(genre_matrix)
genre_similarity_df = pd.DataFrame(genre_similarity, index=movies['movies_id'], columns=movies['movies_id'])

In [39]:
# Recommendation function
def recommend_movies(user_id, user_item_matrix, user_similarity_df, genre_similarity_df, num_recommendations=3):
    # Get the user's ratings
    user_ratings = user_item_matrix.loc[user_id]

    # Get similar users
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)
    similar_users = similar_users[similar_users.index != user_id].head(num_recommendations)

    # Get movie recommendations based on similar users' ratings
    recommended_movies = {}

    # Get valid movie IDs from the movies DataFrame
    valid_movie_ids = movies['movies_id'].unique()

    for similar_user in similar_users.index:
        similar_user_ratings = user_item_matrix.loc[similar_user]
        for movies_id, rating in similar_user_ratings.items():
            if rating > 0 and movies_id not in user_ratings.index[user_ratings > 0] and movies_id in valid_movie_ids:
                if movies_id not in recommended_movies:
                    recommended_movies[movies_id] = 0
                recommended_movies[movies_id] += rating * similar_users[similar_user]

         # Sort recommendations by score
    recommended_movies = sorted(recommended_movies.items(), key=lambda x: x[1], reverse=True)

    # Get movie titles for recommended movie IDs
    recommended_movie_titles = []
    for movies_id, _ in recommended_movies[:num_recommendations]:
        # No need to check if movie_id exists in movies anymore as we filtered based on valid_movie_ids
        recommended_movie_titles.append(movies[movies['movies_id'] == movies_id]['title'].values[0])


    return recommended_movie_titles
# Example usage
user_id = 1
recommended_movies = recommend_movies(user_id, user_item_matrix, user_similarity_df, genre_similarity_df)
print(f"Recommended movies for user {user_id}: {recommended_movies}")

Recommended movies for user 1: ['The Godfather']

In [40]:
pip install itables

Requirement already satisfied: itables in d:\app data\python\lib\site-packages (2.4.4)
Requirement already satisfied: ipython in c:\users\roy63\appdata\roaming\python\python313\site-packages (from itables) (9.3.0)
Requirement already satisfied: numpy in d:\app data\python\lib\site-packages (from itables) (2.2.5)
Requirement already satisfied: pandas in d:\app data\python\lib\site-packages (from itables) (2.2.3)
Requirement already satisfied: colorama in d:\app data\python\lib\site-packages (from ipython->itables) (0.4.6)
Requirement already satisfied: decorator in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (2.19.2)
Requirement already satisfied: stack_data in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from ipython->itables) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\roy63\appdata\roaming\python\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->itables) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->itables) (0.8.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\app data\python\lib\site-packages (from pandas->itables) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\app data\python\lib\site-packages (from pandas->itables) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\app data\python\lib\site-packages (from pandas->itables) (2025.2)
Requirement already satisfied: six>=1.5 in d:\app data\python\lib\site-packages (from python-dateutil>=2.8.2->pandas->itables) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from stack_data->ipython->itables) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\roy63\appdata\roaming\python\python313\site-packages (from stack_data->ipython->itables) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\roy63\appdata\roaming\python\python313\site-packages (from stack_data->ipython->itables) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [41]:
recommended_movies_df = pd.DataFrame({
    'User ID': user_id,
    'Recommended Movies Title' : recommended_movies
})
display(recommended_movies_df)





# from itables import init_notebook_mode
# init_notebook_mode(all_interactive=True)

# display(recommended_movies)

   User ID Recommended Movies Title
0        1            The Godfather